/* variables */
.services {
    max-width: 1260px;
    margin: 0 auto;
}

.services__title {
    margin-bottom: 55px;
}

@media all and (max-width: 590px) {
    .services__title {
        margin-bottom: 35px;
    }
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-bottom: 90px;
}

.services-content__row {
    display: flex;
    margin-bottom: 50px;
}

@media all and (max-width: 960px) {
    .services-content__row {
        flex-direction: column;
        margin-bottom: 30px;
    }
}

.services-content__row:last-child {
    margin-bottom: 0;
}

.services-content__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    width: 48%;
    margin: 10px;
    padding: 80px;
    cursor: pointer;
}

@media all and (max-width: 960px) {
    .services-content__item {
        width: auto;
    }
}

@media all and (max-width: 590px) {
    .services-content__item {
        padding: 30px 25px;
    }
}

.services-content__item:hover .button-secondary::before {
    transform: scale3d(1, 1, 1);
}

.services-content__item:first-child {
    margin-bottom: 70px;
}

@media all and (max-width: 960px) {
    .services-content__item:first-child {
        margin-right: 50px;
        margin-bottom: 40px;
    }
}

@media all and (max-width: 590px) {
    .services-content__item:first-child {
        margin-right: 10px;
        margin-bottom: 30px;
    }
}

.services-content__item:last-child {
    margin-top: 70px;
}

@media all and (max-width: 960px) {
    .services-content__item:last-child {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 50px;
    }
}

@media all and (max-width: 590px) {
    .services-content__item:last-child {
        margin-right: -15px;
        margin-left: 25px;
    }
}

.services-content__item_background-color_dark-brown {
    background-color: #5b5250;
}

.services-content__item_background-color_beige-brown {
    background-color: #98856c;
}

.services-content__item_background-color_brick {
    background-color: #af846c;
}

.services-content__item_background-color_orange {
    background-color: #d09a5f;
}

.services-content__item_background-color_dark-green {
    background-color: #5f6854;
}

.services-content__item_background-color_terracotta {
    background-color: #c87156;
}

.services-content__item_background-color_dark-purple {
    background-color: #856c86;
}

.services-content__item_background-color_dark-blue {
    background-color: #597597;
}

.services-content__number {
    margin-bottom: 40px;
    color: #ddcebc;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Didot', serif;
    line-height: 0.8;
}

@media all and (max-width: 590px) {
    .services-content__number {
        font-size: 30px;
        line-height: 1.33;
    }
}

.services-content__title {
    margin-bottom: 45px;
    color: #ffffff;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

@media all and (max-width: 1280px) {
    .services-content__title {
        font-size: 24px;
    }
}

@media all and (max-width: 590px) {
    .services-content__title {
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.1em;
    }
}

.services-content__button {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
}
