/* variables */
/* variables */
/* nulled style */
body {
    margin: 0;
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 21.09px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

ul[class],
ol[class] {
    padding: 0;
    list-style-type: none;
}

a {
    color: #555555;
    text-decoration: none;
}

p {
    line-height: 21.09px;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol[class],
ul[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* common styles */
p {
    color: #777777;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    color: #555555;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
}

@media screen and (max-width: 540px) {
    h1 {
        font-size: 25px;
    }
}

h2 {
    color: #555555;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
}

@media screen and (max-width: 540px) {
    h2 {
        font-size: 23px;
    }
}

/* header */
.header {
    display: flex;
}

/* layout blocks */
/* container-main */
.container-main {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 10px;
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 21.09px;
}

@media screen and (max-width: 540px) {
    .container-main {
        padding: 10px 20px;
    }
}

.container-main__card-detail {
    margin-bottom: 90px;
}

@media screen and (max-width: 960px) {
    .container-main__card-detail {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container-main__card-detail {
        margin-bottom: 24px;
    }
}

.container-main__features {
    display: flex;
    flex-direction: column;
}

/* pages blocks */
.page-404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .page-404 {
        flex-direction: column;
    }
}

.page-404__image {
    margin-top: auto;
    margin-right: 125px;
    margin-bottom: auto;
}

@media screen and (max-width: 960px) {
    .page-404__image {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .page-404__image {
        margin-right: 0;
    }
}

@media screen and (max-width: 540px) {
    .page-404__image {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 420px) {
    .page-404__image {
        padding: 0 20% 0 20%;
    }
}

.page-404__information {
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page-404__title {
    color: #043e70;
    font-weight: 600;
    font-size: 200px;
    line-height: 0.9;
}

@media screen and (max-width: 960px) {
    .page-404__title {
        font-size: 150px;
    }
}

@media screen and (max-width: 540px) {
    .page-404__title {
        font-size: 100px;
    }
}

.page-404__subtitle {
    margin-bottom: 25px;
    color: #043e70;
    font-weight: 800;
    font-size: 55px;
    line-height: 1.35;
    letter-spacing: 0.26em;
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    .page-404__subtitle {
        font-size: 42px;
    }
}

@media screen and (max-width: 540px) {
    .page-404__subtitle {
        margin-bottom: 10px;
        font-size: 28px;
    }
}

.page-404__text {
    margin-bottom: 50px;
    color: #555555;
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .page-404__text {
        font-size: 15px;
    }
}

@media screen and (max-width: 540px) {
    .page-404__text {
        margin-bottom: 20px;
    }
}

.page-404__button {
    max-width: 322px;
    margin: 0 auto;
}

/* common blocks */
/* button */
.button {
    display: block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    text-transform: uppercase;
    background-color: #043e70;
}
