@charset "UTF-8";
/* variables */
/* variables */
/* nulled style */
body {
    margin: 0;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.09px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

ul[class],
ol[class] {
    padding: 0;
    list-style-type: none;
}

a {
    color: #555555;
    text-decoration: none;
}

p {
    line-height: 21.09px;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol[class],
ul[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* common styles */
/* container */
.container {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
}

.container_main {
    padding: 10px;
}

.card-detail {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}

.h1 {
    font-size: 28px;
    font-weight: 600;
    color: #555555;
    line-height: 1.2;
}

@media screen and (max-width: 540px) {
    .h1 {
        font-size: 25px;
    }
}

.h2 {
    font-size: 25px;
    font-weight: 600;
    color: #555555;
    line-height: 1.2;
}

@media screen and (max-width: 540px) {
    .h2 {
        font-size: 23px;
    }
}

/* header */
.header {
    display: flex;
}

/* libraries sass styles*/
:root {
    --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev:after,
  .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}

.swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
    --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
    --swiper-navigation-color: #000000;
}

.swiper-button-lock {
    display: none;
}

@font-face {
    font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
    --swiper-theme-color: #007aff;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
  /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-container-pointer-events {
    touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
  /* For Firefox */
    -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

/* templates */
.card-detail-features__wrapper {
    display: flex;
    flex-direction: column;
}

.card-detail-features {
    padding: 60px 0;
}

.card-detail-features h2,
  .card-detail-features h3,
  .card-detail-features h4,
  .card-detail-features h5,
  .card-detail-features h6 {
    color: #555555;
    font-weight: 700;
}

.card-detail-features:first-child {
    padding-top: 0;
}

.card-detail-features:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 540px) {
    .card-detail-features h2 {
        font-size: 28px;
    }

    .card-detail-features h3 {
        font-size: 16px;
    }
}

.card-detail-features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-detail-features__title {
    margin: 0 0 40px;
    font-size: 35px;
}

.card-detail-features-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}

@media screen and (max-width: 960px) {
    .card-detail-features-subtitle {
        margin-bottom: 50px;
    }
}

.card-detail-features__description {
    margin-bottom: 50px;
    font-size: 16px;
    color: #555555;
}

.card-detail-features__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
    overflow: hidden;
}

.card-detail-features__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-detail-features_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-detail-features_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.card-detail-features_left .card-detail-features__text {
    width: 50%;
    padding-right: 30px;
}

.card-detail-features_left .card-detail-features__image {
    width: 50%;
}

@media screen and (max-width: 960px) {
    .card-detail-features_left {
        flex-direction: column;
        text-align: center;
    }

    .card-detail-features_left .card-detail-features__text {
        width: 100%;
        padding-right: 0;
    }

    .card-detail-features_left .card-detail-features__image {
        width: 100%;
    }
}

.card-detail-features_right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: left;
}

.card-detail-features_right .card-detail-features__text {
    width: 50%;
    padding-left: 60px;
}

.card-detail-features_right .card-detail-features__image {
    width: 50%;
}

@media screen and (max-width: 960px) {
    .card-detail-features_right {
        flex-direction: column;
        text-align: center;
    }

    .card-detail-features_right .card-detail-features__text {
        width: 100%;
        padding-left: 0;
    }

    .card-detail-features_right .card-detail-features__image {
        width: 100%;
    }
}

.card-detail-features_border-top {
    border-top: 1px solid #c4c4c4;
}

.card-detail-features_border-bottom {
    border-bottom: 1px solid #c4c4c4;
}

/* blocks */
/* accordion common */
.accordion__item {
    margin-bottom: 10px;
}

.accordion__item.active {
    margin-bottom: 0;
}

.accordion__item.active .accordion__header::after {
    content: '—';
    font-size: 14px;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.accordion__header::after {
    content: '+';
    font-size: 24px;
    font-weight: 600;
    color: #555555;
}

.accordion__transition {
    transition: all 0.5s ease;
}

/* main */
.card-detail__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

@media screen and (max-width: 960px) {
    .card-detail__main {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .card-detail__main {
        flex-direction: column;
        margin-bottom: 30px;
    }
}

.card-detail-title {
    display: flex;
}

.card-detail-title__spacer {
    width: 45%;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .card-detail-title__spacer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .card-detail-title__text {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}

.card-detail__content {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .card-detail__content {
        flex-direction: column;
    }
}

/* information */
.card-detail__information {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .card-detail__information {
        margin-left: 0;
    }
}

.card-detail__description {
    padding-top: 30px;
    margin-bottom: 40px;
    color: #777777;
}

@media screen and (max-width: 960px) {
    .card-detail__description {
        margin-bottom: 15px;
    }
}

.card-detail-benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 25px;
}

@media screen and (max-width: 960px) {
    .card-detail-benefits {
        margin-bottom: 2px;
    }
}

.card-detail-benefits__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 30px 15px 0;
}

.card-detail-benefits__item:last-child {
    margin-right: 0;
}

.card-detail-benefits__item img {
    max-width: 60px;
    max-height: 60px;
}

@media screen and (max-width: 768px) {
    .card-detail-benefits__item {
        margin: 0 15px 15px 0;
    }
}

.card-detail-extra {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    font-weight: 600;
}

@media screen and (max-width: 960px) {
    .card-detail-extra {
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 540px) {
    .card-detail-extra {
        flex-direction: column;
    }
}

.card-detail-extra__description {
    margin-right: 60px;
    color: #555555;
}

.card-detail-extra__link {
    color: #555555;
}

.card-detail-extra__secondary-text {
    font-weight: 400;
    color: #777777;
}

.card-detail-shops {
    display: flex;
    margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
    .card-detail-shops {
        flex-direction: column;
        margin-bottom: 0;
    }
}

.card-detail-shops__text {
    min-width: 65px;
    margin: 0 30px 0 0;
    font-weight: 600;
    color: #555555;
}

@media screen and (max-width: 960px) {
    .card-detail-shops__text {
        margin: 0 0 5px 0;
    }
}

.card-detail-shops__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.card-detail-shops__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10px;
    height: 40px;
    margin: 0 20px 10px 0;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
}

.card-detail-shops__item:last-child {
    margin-right: 0;
}

.card-detail-shops__wrapper {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

/* accordion-card-detail */
.card-detail-accordion {
    width: 100%;
}

.card-detail-accordion__item.active .accordion-table__wrapper {
    max-height: 2000px;
    padding: 10px 30px;
    opacity: 1;
    visibility: visible;
}

.card-detail-accordion__item.active .accordion-file {
    max-height: 2000px;
    padding: 10px 30px;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-size: 960px) {
    .card-detail-accordion__item.active.accordion-table__wrapper {
        padding: 10px 20px;
    }

    .card-detail-accordion__item.active.accordion-file {
        padding: 10px 20px;
    }
}

@media screen and (max-size: 540px) {
    .card-detail-accordion__item.active.accordion-table__wrapper {
        padding: 5px 0;
        font-size: 13px;
    }

    .card-detail-accordion__item.active.accordion-file {
        padding: 5px 0;
    }
}

@media screen and (max-size: 420px) {
    .card-detail-accordion__item.active.accordion-table__wrapper {
        font-size: 12px;
    }
}

.accordion__title_card-detail {
    font-weight: 600;
    color: #043e70;
}

.accordion-table__wrapper {
    max-height: 0;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
}

.accordion-table {
    width: 100%;
    border-spacing: 0 5px;
}

.accordion-table__cell {
    min-width: 50%;
}

.accordion-table__cell_value {
    font-weight: 600;
}

.accordion-file {
    max-height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
}

.accordion-file__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.accordion-file__image img {
    max-height: 100%;
}

.accordion-file__description {
    font-weight: 600;
}

.accordion-file__size {
    margin: 0 10px;
    font-weight: 300;
    white-space: nowrap;
}

/* gallery */
.card-detail-gallery {
    width: 45%;
    flex-shrink: 0;
    margin-top: -33px;
}

@media screen and (max-width: 960px) {
    .card-detail-gallery {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .card-detail-gallery {
        width: 100%;
        margin: 0 0 15px 0;
    }
}

.card-detail-gallery__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}

@media screen and (max-width: 420px) {
    .card-detail-gallery__slide {
        padding: 0 40px;
    }
}

.gallery-top {
    position: relative;
    width: 100%;
    height: 560px;
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
}

@media screen and (max-width: 1140px) {
    .gallery-top {
        height: 440px;
    }
}

@media screen and (max-width: 960px) {
    .gallery-top {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .gallery-top {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 420px) {
    .gallery-top {
        height: 310px;
    }
}

.gallery-detail-gallery__image {
    width: 480px;
    height: 480px;
    -o-object-fit: contain;
    object-fit: contain;
    cursor: url("/assets/img/card-detail/icon-zoom.svg"), url("/assets/img/card-detail/icon-zoom.png"), zoom-in;
}

@media screen and (max-width: 768px) {
    .gallery-detail-gallery__image {
        width: 380px;
        height: 380px;
    }
}

@media screen and (max-width: 420px) {
    .gallery-detail-gallery__image {
        width: 280px;
        height: 280px;
    }
}

.gallery-detail-gallery__icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.gallery__button::after {
    font-size: 35px;
    font-weight: 600;
    color: #767676;
}

.gallery-thumbs-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.gallery-thumbs {
    width: 85%;
    height: 120px;
}

@media screen and (max-width: 1140px) {
    .gallery-thumbs {
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .gallery-thumbs {
        height: 115px;
    }
}

@media screen and (max-width: 420px) {
    .gallery-thumbs {
        height: 80px;
    }
}

.gallery__button_thumbs {
    top: 10px;
}

.gallery__button_prev {
    position: relative;
    left: 0;
}

.gallery__button_next {
    position: relative;
    right: 0;
}

.gallery__button_thumbs::after {
    font-size: 20px;
    color: #767676;
}

.card-detail-gallery__thumbs-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
}

.card-detail-gallery__thumbs-slide img {
    width: 108px;
    height: 88px;
    -o-object-fit: contain;
    object-fit: contain;
}

@media screen and (max-width: 420px) {
    .card-detail-gallery__thumbs-slide img {
        width: 60px;
        height: 60px;
    }
}
