/* variables */
.feedback {
    display: flex;
}

@media all and (max-width: 1280px) {
    .feedback {
        flex-direction: column;
    }
}

.feedback__info {
    flex-basis: 50%;
}

@media all and (max-width: 1280px) {
    .feedback__info {
        margin-bottom: 40px;
    }
}

.feedback__confidentiality {
    display: flex;
    flex-direction: row;
}

@media all and (max-width: 1280px) {
    .feedback__confidentiality {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 590px) {
    .feedback__confidentiality {
        margin-bottom: 0;
    }
}

.feedback__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.feedback__checkbox {
    display: flex;
    margin-right: 20px;
}

@media all and (max-width: 1280px) {
    .feedback__checkbox {
        margin-right: 6%;
    }
}

@media all and (max-width: 960px) {
    .feedback__checkbox {
        margin-right: 4%;
    }
}

@media all and (max-width: 720px) {
    .feedback__checkbox {
        margin-right: 20px;
    }
}

@media all and (max-width: 590px) {
    .feedback__checkbox {
        margin-right: 10px;
    }
}

.feedback__text {
    color: #a78460;
    font-size: 13px;
    line-height: 1.154;
    letter-spacing: 0.05em;
}

@media all and (max-width: 590px) {
    .feedback__text {
        font-size: 12px;
    }
}

.feedback__link {
    color: #a78460;
    text-decoration: underline;
}

.feedback__form {
    flex-basis: 44%;
    margin-left: auto;
    background-color: #ece5e0;
}

@media all and (max-width: 1280px) {
    .feedback__form {
        margin-left: 0;
    }
}

@media all and (max-width: 590px) {
    .feedback__form {
        margin-bottom: 40px;
    }
}

.feedback__wrapper {
    padding: 70px 80px;
    border: 0;
}

@media all and (max-width: 1280px) {
    .feedback__wrapper {
        padding: 70px 14%;
    }
}

@media all and (max-width: 720px) {
    .feedback__wrapper {
        padding: 70px 12%;
    }
}

@media all and (max-width: 590px) {
    .feedback__wrapper {
        padding: 40px 12%;
    }
}

.feedback__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.feedback__button {
    display: flex;
    justify-content: flex-start;
}

@media all and (max-width: 1280px) {
    .feedback__button {
        justify-content: center;
    }
}

.feedback__label {
    margin-bottom: 3px;
    color: #7a7979;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.05em;
}

.feedback__required {
    color: #a78460;
}

.feedback__input {
    height: 40px;
    padding-left: 20px;
    background-color: #ddcebc;
    border: 0;
}

.feedback__textarea {
    height: 40px;
    min-height: 40px;
    max-height: 300px;
    overflow: auto;
    background-color: #ddcebc;
    border: 0;
    resize: vertical;
}
