/* variables */
.feedback {
    display: grid;
    grid-template-areas: 'info form' 'confidentiality form';
    grid-template-rows: auto 1fr;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 1280px) {
    .feedback {
        grid-template-areas: 'info' 'confidentiality' 'form';
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 590px) {
    .feedback {
        grid-template-areas: 'info' 'form' 'confidentiality';
    }
}

.feedback__info {
    grid-area: info;
    margin-bottom: 60px;
}

@media screen and (max-width: 1280px) {
    .feedback__info {
        margin-bottom: 40px;
    }
}

.feedback__confidentiality {
    display: flex;
    flex-direction: row;
    grid-area: confidentiality;
    align-items: flex-start;
}

@media screen and (max-width: 1280px) {
    .feedback__confidentiality {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 590px) {
    .feedback__confidentiality {
        margin-bottom: 0;
    }
}

.feedback__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.feedback__checkbox {
    display: flex;
    margin-right: 20px;
}

@media screen and (max-width: 1280px) {
    .feedback__checkbox {
        margin-right: 6%;
    }
}

@media screen and (max-width: 960px) {
    .feedback__checkbox {
        margin-right: 4%;
    }
}

@media screen and (max-width: 720px) {
    .feedback__checkbox {
        margin-right: 20px;
    }
}

.feedback__text {
    color: #a78460;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.05em;
}

.feedback__link {
    color: #a78460;
    text-decoration: underline;
}

.feedback__form {
    grid-area: form;
    margin-left: 15%;
    background-color: #ece5e0;
}

@media screen and (max-width: 1280px) {
    .feedback__form {
        margin-left: 0;
    }
}

@media screen and (max-width: 590px) {
    .feedback__form {
        margin-bottom: 40px;
    }
}

.feedback__wrapper {
    padding: 70px 80px;
    border: 0;
}

@media screen and (max-width: 1280px) {
    .feedback__wrapper {
        padding: 70px 14%;
    }
}

@media screen and (max-width: 720px) {
    .feedback__wrapper {
        padding: 70px 12%;
    }
}

@media screen and (max-width: 590px) {
    .feedback__wrapper {
        padding: 40px 12%;
    }
}

.feedback__item {
    display: flex;
    flex-direction: column;
}

.feedback__button {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
    .feedback__button {
        justify-content: center;
    }
}

.feedback__label {
    color: #7a7979;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.05em;
}

.feedback__required {
    color: #a78460;
}

.feedback__input {
    height: 40px;
    margin-bottom: 25px;
    background-color: #ddcebc;
    border: 0;
}

.feedback__input:last-child {
    margin-bottom: 40px;
}

.feedback__textarea {
    height: 40px;
    min-height: 40px;
    max-height: 300px;
    margin-bottom: 40px;
    overflow: auto;
    background-color: #ddcebc;
    border: 0;
    resize: vertical;
}
