/* variables */
.main-menu__burger {
    width: 30px;
    height: 22px;
}

.main-menu__name {
    margin-right: 18px;
}

@media screen and (max-width: 590px) {
    .main-menu__name {
        font-size: 12px;
    }
}

.main-menu__button {
    display: flex;
    align-items: center;
}

.main-menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 590px) {
    .main-menu__wrapper {
        flex-direction: column;
    }
}

.main-menu__content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #000000;
    background-color: #f0edeb;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.main-menu__content.active {
    visibility: visible;
    opacity: 1;
}

.main-menu__logo {
    display: flex;
    flex-basis: 38%;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .main-menu__logo {
        flex-basis: 280px;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 590px) {
    .main-menu__logo {
        flex-basis: auto;
        flex-shrink: 0;
        margin-bottom: 35px;
    }
}

.main-menu__logo::after {
    display: none;
    width: 80px;
    height: 1px;
    margin: 0 auto;
    background-color: #a78460;
    content: '';
}

@media screen and (max-width: 590px) {
    .main-menu__logo::after {
        display: block;
    }
}

.main-menu__list {
    flex-basis: 62%;
    padding: 10px 10px 10px 20%;
    border-left: 1px solid #a78460;
}

@media screen and (max-width: 1280px) {
    .main-menu__list {
        padding: 10px 10px 10px 50px;
    }
}

@media screen and (max-width: 590px) {
    .main-menu__list {
        flex-basis: auto;
        padding: 10px;
        border-left: 0;
    }
}

.main-menu__item {
    margin-bottom: 60px;
}

@media screen and (max-width: 1280px) {
    .main-menu__item {
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 590px) {
    .main-menu__item {
        text-align: center;
    }
}

.main-menu__item:last-child {
    margin-bottom: 0;
}

.main-menu__link {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
    .main-menu__link {
        font-size: 14px;
        line-height: 1.43;
    }
}

@media screen and (max-width: 590px) {
    .main-menu__link {
        font-size: 12px;
        line-height: 1.67;
    }
}

.main-menu__link_main {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.main-menu-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

.main-menu-logo__title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 700;
    font-size: 110px;
    font-family: 'Didot', serif;
    line-height: 0.91;
    letter-spacing: 0.2em;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .main-menu-logo__title {
        font-size: 80px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 590px) {
    .main-menu-logo__title {
        font-size: 69px;
        line-height: 1;
    }
}

.main-menu-logo__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
    .main-menu-logo__subtitle {
        font-size: 15px;
        line-height: 1.33;
    }
}

@media screen and (max-width: 590px) {
    .main-menu-logo__subtitle {
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 1.43;
    }
}
