/* variables */
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox:not(:disabled) + label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox:not(:disabled) + label::before {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    border: 1px solid #ddcebc;
    content: '';
}

.checkbox:not(:disabled) + label::after {
    position: absolute;
    top: -4px;
    left: 6px;
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/feedback/checkbox_background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    content: '';
}

.checkbox:not(:disabled):checked + label::after {
    visibility: visible;
    opacity: 1;
}
