/* variables */
.cross {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
}

.cross::before, .cross::after {
    position: absolute;
    top: 0;
    left: 14px;
    width: 4px;
    height: 33px;
    background-color: #ffffff;
    border: 0;
    content: ' ';
}

.cross::before:hover, .cross::after:hover {
    background-color: #000000;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

.cross_services {
    position: relative;
    margin-left: auto;
}

.cross_services::before, .cross_services::after {
    background-color: #000000;
}
